package repository

type {{ .Domain }}RepositoryItf interface {}

type {{ .DomainStruct }}Repository struct {}

func New{{ .Domain }}Repository() {{ .Domain }}RepositoryItf {
    return &{{ .DomainStruct }}Repository{}
}
