package infrastructure

import (
    "fmt"
	"log"
	"os"
    "database/sql"
    _ "{{ .Package }}"
)

var DB *sql.DB

func ConnectDatabase(){
	db, err := sql.Open("{{ .Type }}", fmt.Sprintf({{ .DataSource }}))
    if err != nil {
        log.Fatal("DB connection error")
    }

	DB=db
}